---
import BaseLayout from "./BaseLayout.astro"

const { title, description } = Astro.props as {
  title?: string
  description?: string
}
---

<BaseLayout title={title} description={description}>
  <div class="container section reading-shell">
    <slot />
  </div>
</BaseLayout>
