.footer {
  display: flex;
  justify-content: flex-end;
  flex-flow: row;

  .footer-item {
    margin-left: auto;
    margin-right: auto;
    ul {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      margin-left: auto;
      margin-right: auto;

      li {
        list-style: none;
        width: 90px;
      }
    }
  }
}

footer .footer-inline-link,
footer .footer-inline-link:visited,
footer .footer a,
footer .footer a:visited,
footer .footer-cookie-button {
  background: none !important;
  background-image: none !important;
  border: 0 !important;
  box-shadow: none !important;
  color: inherit !important;
  cursor: pointer;
  font: inherit;
  outline: none;
  padding: 0;
  text-decoration-line: none !important;
  text-decoration: none !important;
  -webkit-appearance: none;
  appearance: none;
}

footer .footer-inline-link:hover,
footer .footer-inline-link:focus,
footer .footer a:hover,
footer .footer a:focus,
footer .footer-cookie-button:hover,
footer .footer-cookie-button:focus {
  box-shadow: none !important;
  color: inherit !important;
  text-decoration: underline !important;
}
