.footer {
  display: flex;
  justify-content: flex-end;
  flex-flow: row;

  .footer-item {
    margin-left: auto;
    margin-right: auto;
    ul {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      margin-left: auto;
      margin-right: auto;

      li {
        list-style: none;
        width: 90px;
        a {
          box-shadow: none;
          text-decoration: none;
          color: inherit;
          :hover {
            text-decoration: underline;
          }
        }
        button {
          background: transparent;
          border: 0;
          color: inherit;
          cursor: pointer;
          font: inherit;
          padding: 0;
          text-decoration: underline;
        }
      }
    }
  }
}

footer a,
footer a:visited,
footer button {
  box-shadow: none !important;
  color: inherit !important;
  text-decoration: none !important;
}

footer a:hover,
footer a:focus,
footer button:hover,
footer button:focus {
  box-shadow: none !important;
  color: inherit !important;
  text-decoration: underline !important;
}
