
.footer {
    display: flex;
    justify-content: flex-end;
    flex-flow: row;

    .footer-item {
        margin-left: auto;
        margin-right: auto;
        ul {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            margin-left: auto;
            margin-right: auto;

            li {
                list-style: none;
                width: 70px;     
                a {
                    box-shadow: none;
                    text-decoration: none;
                    color: inherit;
                    :hover {
                        text-decoration: underline;
                    }
                    
                    
                }
            }
        }
    }
}