
.navbar {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    flex-flow: row;

    .navbar-item {
        height: 50px;
        margin-left: auto;
        margin-right: auto;

        ul {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            margin-top: 9px;
            margin-bottom: 0;
            margin-left: auto;
            margin-right: auto;

            li {
                list-style: none;
                width: 75px;
                font-size: 20px;
                font-weight: bold;
                
                a {
                    box-shadow: none;
                    text-decoration: none;
                    color: inherit;
                    :hover {
                        text-decoration: underline;
                    }
                    
                    
                }
            }
        }
    }
}